<template>
<div>
  <md-table  v-model="searched" md-sort="name" md-sort-order="asc">
    <md-table-toolbar class="z-zero">
      <div class="md-toolbar-section-start">
        <h1 class="md-title">Utilisateurs</h1>
      </div>

      <md-field md-clearable class="md-toolbar-section-end">
        <md-input placeholder="Cherchez par nom .." v-model="search" @input="searchOnTable" />
      </md-field>
    </md-table-toolbar>

    <md-table-empty-state md-label="Utilisateur non trouvé" :md-description="`Il n'existe pas d'utilisateur correspondant à la recherche : '${search}'. Essayez de changer les termes de votre recherche.`">
    </md-table-empty-state>
    <md-table-row slot="md-table-row" slot-scope="{ item }">
      <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
      <md-table-cell md-label="Nom" md-sort-by="name">{{ item.name }}</md-table-cell>
      <md-table-cell md-label="E-mail" md-sort-by="email" md-numeric>{{ item.email }}</md-table-cell>
      <md-table-cell md-label="Rôle" md-sort-by="role">{{ item.role }}</md-table-cell>
    </md-table-row>
  </md-table>
</div>
</template>
@
<script>
import axios from 'axios'

const toLower = text => {
  return text.toString().toLowerCase()
}

const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.name).includes(toLower(term)))
  }
  return items
}

export default {
  name: 'Admin',
  data() {
    return {
      search: null,
      searched: [],
      users: [],
      query: ''
    }
  },
  methods: {
    erase(user) {
      axios.delete('users/' + user.id)
        .then(response => {
          axios.get('users').then(response => {
            this.users = response.data

          })
        });

    },
    searchOnTable() {
      this.searched = searchByName(this.users, this.search)
    }
  },
  created() {
    this.searched = this.users
  },
  mounted() {
    axios.get('users')
      .then(response => {
        this.users = response.data;
        this.searched = this.users
      });
    if (this.$parent.userRole !== 'Admin') {
      this.$router.push('/');
    }
    if (this.$parent.loggedIn === false) {
      this.$router.push('/');
    }
  }
}
</script>

<style scoped>
  .admin {
    display: flex;
    justify-content: center;
  }

  .z-zero {
    z-index: 0;
  }

  .md-table-content {
    height: 1000px;
    max-height: 1000px;
  }

  .md-list {
    z-index: 0;
    background-color: transparent;
  }

  .md-list-item {
    width: 30rem;
    margin-bottom: 10px;
    background-color: white;
  }
</style>
