<template>
<div class="blog">
  <md-card v-for="dossier in dossiers" :key="dossier.id" class="dossier">
    <md-card-area>
      <md-card-media>
        <img :src="dossier.acf.dossier_image" alt="People">
      </md-card-media>

      <md-card-header>
        <a class="md-title" @click="$router.push({path:'/blog/' + dossier.slug});">{{ dossier.title.rendered }}</a>
        <div class="md-subhead">Écrit le {{ dossier.date }}</div>
      </md-card-header>

      <md-card-content v-html="dossier.acf.dossier_corps.substring(0,400) + ' ...' ">
      </md-card-content>
    </md-card-area>
  </md-card>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Blog',
  data() {
    return {
      dossiers: []
    }
  },
  created() {
    axios.get('http://localhost:8888/gdh_wp/wp-json/wp/v2/dossiers')
      .then(response => {
        this.dossiers = response.data
      }, error => (alert(error)))
  },
  mounted() {
    if (this.$parent.loggedIn === false) {
      this.$router.push('/');
    }
  }
}
</script>

<style lang="css">
.md-card {
  margin-bottom: 30px;
}
img {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

a {
  cursor:pointer;
}

.dossier {
  margin: 10vw;
}
</style>
