<template>
<md-table>
  <md-table-row>
    <md-table-head>Id</md-table-head>
    <md-table-head>Rapporté par</md-table-head>
    <md-table-head>Description du bug</md-table-head>
    <md-table-head>Date de rapport</md-table-head>
  </md-table-row>

  <md-table-row v-for="debug in debugs" :key="debug.id">
    <md-table-cell>{{ debug.id }}</md-table-cell>
    <md-table-cell>{{ debug.user_name }}</md-table-cell>
    <md-table-cell>{{ debug.bug_content }}</md-table-cell>
    <md-table-cell>{{ moment(debug.created_at).format('hh:mm:ss - DD/MM/YYYY ') }}</md-table-cell>
  </md-table-row>

</md-table>
</template>

<script>
import axios from 'axios';
import moment from 'moment';

export default {
  data() {
    return {
      debugs: []
    }
  },
  methods: {
    getResult() {
      axios.get('debugs').then(response => {
        this.debugs = response.data;
      });
    }
  },
  created() {
    Event.$on('newBug', () => {
      this.getResult()
    })
  },
  mounted() {
    this.getResult()

    if (this.$parent.userRole !== 'Admin') {
      this.$router.push('/');
    }

    if (this.$parent.loggedIn === false ) {
      this.$router.push('/');
    }

  }

}
</script>

<style lang="css">
.md-table {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  margin: 3em;
  border-radius: 10px;
}
</style>
