<template>
<div class="login">
  <form novalidate class="md-layout" method="POST" @submit.prevent="validateUser">
    <md-card class="md-layout-item md-size-50 md-small-size-100">
      <md-card-header>
        <div class="md-title">Connexion</div>
      </md-card-header>

      <md-card-content>

        <md-field :class="getValidationClass('email')">
          <label for="email">Adresse e-mail</label>
          <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />
          <span class="md-error" v-if="!$v.form.email.required">Vous devez renseigner votre adresse e-mail.</span>
          <span class="md-error" v-else-if="!$v.form.email.email">Adresse mail non valide.</span>
        </md-field>

        <md-field :class="getValidationClass('password')">
          <label for="password">Mot de passe</label>
          <md-input type="password" name="password" id="password" autocomplete="password" v-model="form.password" :disabled="sending" />
          <span class="md-error" v-if="!$v.form.password.required">Vous devez renseigner votre mot de passe.</span>
          <span class="md-error" v-else-if="!$v.form.password.minlength">Votre mot de passe doit comporter au moins 6 caractères.</span>
        </md-field>
      </md-card-content>

      <md-progress-bar md-mode="indeterminate" v-if="sending" />

      <md-card-actions>
        <md-button type="submit" class="md-raised md-primary md-p-r" :disabled="sending">Se connecter</md-button>
      </md-card-actions>
    </md-card>

    <md-snackbar :md-active.sync="userSaved">Vous êtes connecté. 😄
      <md-button class="md-primary" @click="showSnackbar = false">Fermer</md-button>
    </md-snackbar>
    <md-snackbar :md-active.sync="failedAttempt">Échec de la connexion. 😭
      <md-button class="md-primary" @click="showSnackbar = false">Fermer</md-button>
    </md-snackbar>
  </form>
</div>
</template>

<script>
import axios from 'axios';

import {
  validationMixin
} from 'vuelidate'

import {
  required,
  email,
  password,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'

export default {
  name: 'FormValidation',
  mixins: [validationMixin],
  data: () => ({
    form: {
      email: null,
      password: null
    },
    userSaved: false,
    failedAttempt: false,
    sending: false,
    lastUser: null,
  }),
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },

    clearForm() {
      this.$v.$reset()
      this.form.email = null
      this.form.password = null
    },

    validateUser() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saveUser()
        this.sending = false
      }
    },

    saveUser() {
      this.sending = true
      axios.post('login', this.form)
        .then(response => {
            let token = response.data.user.api_token;
            window.token = token;
            let user = response.data.user;

            localStorage.setItem('token', token);
            localStorage.setItem('user', JSON.stringify(user));

            let userName = response.data.user.name;
            let userRole = response.data.user.role;
            let userId = response.data.user.id;

            Event.$emit('login', userName, userRole, userId);
            this.userSaved = true
          },
          window.setTimeout(() => {
            this.lastUser = `${this.form.name}`

            this.sending = false
            this.clearForm()
          }, 1500),
          window.setTimeout(() => {
            this.$router.push('/')
          }, 2000)
        )
        .catch(error => {
          window.setTimeout(() => {
            console.log(error)
            this.failedAttempt = true
            this.userSaved = false
          }, 1500)

          error => this.status = error.response.data.status;
          console.log(error.response);
        });
    }
  },
  mounted() {
    if (this.$parent.loggedIn === true) {
      this.$router.push('/');
    }
  }
}
</script>

<style lang="scss" scoped>
.md-progress-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

form {
    justify-content: center;
    position: relative;
    top: 10em;
}
</style>
