<template lang="html">
</template>

<script>
import axios from 'axios';

export default {
  mounted() {
    let token = localStorage.getItem('token');
    axios.get('http://127.0.0.1:8000/api/logout?api_token='+token)
    .then(response => {
      console.log(response)
      localStorage.removeItem('token')
      localStorage.removeItem('userName')
      localStorage.removeItem('userRole')
      localStorage.removeItem('userId')
      Event.$emit('logout')
    });
    this.$router.push('/');
  }
}
</script>

<style lang="css">
</style>
