<template lang="html">
  <div class="not-found">
    <h1 class="md-display-4">Oups ..</h1>
    <p>La page que vous cherchez n'existe pas.</p>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
.not-found {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
</style>
